{{ 'payment.css' | asset_url | stylesheet_tag }}

<div class="payment">
  <div class="payment__container">
    <div class="payment__img">
      <img
        src="{{ section.settings.img |  image_url: width: 1200 , height: 1800}}"
        alt="{{ section.settings.img.alt }}"
      >
    </div>
    <div class="payment__form page-width">
      <div class="form__payment__container" id="form__payment">
        <div>
          <div class="form__heading">
            <p class="form__subtitle">{{ section.settings.subtitle }}</p>
            <h1 class="form__title">{{ section.settings.title }}</h1>
            <p class="form__paragraph">{{ section.settings.paragraph }}</p>
          </div>
          <div class="form__signin--contianer">
            {% form 'recover_customer_password' %}
              {% if form.errors %}
                <div class="errors-content">
                  <strong class="error_head">Error!</strong>
                  <p role="alert">{{ form.errors | default_errors }}</p>
                </div>
              {% endif %}
              <div class="form__login-label-input">
                <label class="form__login--label visually-hidden" for="email" aria-hidden="true">Email address</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  class="form__login--input"
                  placeholder="your email address"
                >
              </div>

              <div class="form__footer">
                <button class="form__btn" type="submit">SEND TO A FRIEND</button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "payment",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "img"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "paragraph"
    }
  ],
  "presets": [
    {
      "name": "payment"
    }
  ]
}
{% endschema %}
